.Box {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cateGroupBox {
        // width: 247px;
        height: 46px;
        background: #cbcbcb;
        position: absolute;
        top: 0px;
        transform: translateY(-60px);
        border-radius: 23px;
        box-shadow: #333 0 0 5px inset;
        display: flex;
        justify-content: center;
        align-items: center;

        .cateButton {
            width: 123px;
            height: 46px;
            color: #f5991e;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }

        .actbutton {
            background: #f2981e;
            box-shadow: rgba($color: #fff, $alpha: 0.5) 5px 5px 5px inset, rgba($color: #333, $alpha: 0.5) -5px -5px 5px inset;
            border-radius: 23px;
            color: #fff;
        }
    }

    .Tittle {
        width: 231px;
        height: 79px;
        background-size: 100% 100%;
        transform: translateY(-9px);
        font-size: 31px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .TabbleBody {
        width: 100%;
        max-height: 100%;
        overflow: auto;

        .RowBase {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4px 0px;
        }

        .ColumnBase {
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .HeadIcon {
            width: 153px;
            height: 44px;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .RowIcon {
            min-width: 209px;
            height: 44px;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}