.RuleBox {
    margin: 0 auto;
    width: 750px;
    height: 100%;
    // background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .RuleDetialBox {
        width: 519px;

        overflow: auto;
        border-radius: 9px;
        background: #eeeeee;
        box-shadow: #fff 0 6px 0 10px, #fff 0 -6px 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .Tittle {
            width: 149px;
            height: 57px;
            background-size: 100% 100%;
            font-size: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }

        .Detial {
            margin: 15px 0;
            width: 422px;
            min-height: 320px;
            max-height: 600px;
            overflow-y: auto;
            .rulepng{
                width: 100%;
            }
        }

        .ReturnButton {
            width: 104px;
            height: 34px;
            background: #fff;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
    }
}